/*body * {border: 1px solid red;}*/

.frame {
    background-color: #333;
    color: white;
}

.titlebar {
    display: flex;
    height: 3em;
    align-content: center;
    justify-content: center;
    border-bottom: 0.1em solid #222;
}

.title-item:hover {
    background-color: rgba(200,200,200,0.5);
}

.title-item > img {
    max-height: 3em;
    padding: 0.3em;
}

.title-left {
    border-right: 0.1em solid #EEE;
}

.title-padding {
    max-height: 3em;
    max-width: 3em;
    width: 3em;
    padding: 0.3em;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    font-family: Arial Black, Arial, sans-serif;
}

.title-right {
    border-left: 0.1em solid #EEE;
}

.toolbar {
    position: absolute;
    width: 10em;
    height: auto;
    border-top: 0.1em solid #444;
    display: flex;
    justify-content: center;
}

.tool {
    border: 0.1em solid #555;
    border-radius: 4px;
    background-color:#333
}

.toolbox {
    overflow: hidden;
    margin: 0.75em;
    order: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.toolbox input {
    position: relative;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    display:none;
}

.toolbox label {
    float: left;
    display: inline-block;
    background-color: #555;
    color: rgba(0,0,0,0.6);
    text-align: center;
    text-shadow: none;
    padding: 0.25em 0.25em;
    border: 0.05em solid rgba(0,0,0,0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.toolbox input:checked + label {
    background-color: #333;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
}

label > img {
    height: 1em;
}

.toolbox label:nth-of-type(5n+1) {
    border-radius: 0.375em 0 0 0.375em;
}

.toolbox label:nth-of-type(5n) {
    border-radius: 0 4px 4px 0;
}

.toolbox label:nth-of-type(-n+5) {
    margin-bottom: 0.5em;
}

.color {
    width: 100%;
    display: flex;
    justify-content: center;
}

.color-selection {
    width: 3em;
    height: 1.5em;
    margin: 0.5em 0.25em 0.25em 0.25em;
    border:2px outset lightgrey;
    order: 2;
}

.color-selection:hover {
    border: 2px inset lightgrey
}

#primary-color {
    background-color: black;
}
#secondary-color {
    background-color: white;
}

#drawspace {
    position:absolute;
    top: 3em;
    width:100%;
    height: calc(100% - 3em);
    overflow: hidden;
    border: 1px solid blue;
    z-index: -1;
}

.sidebar {
    position: absolute;
    top: 3em;
    right: 0;
    width: 15em;
    height: calc(100% - 3em);
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.layers {
    order = 0;
    height: 40%;
    border: 1px solid red;
}

.history {
    order = 5;
    height: 60%;
    border: 1px solid yellow;
}
